# IDEs
.vscode
.idea/

# Python temp
__pycache__
*.egg-info
*.joblib
*-checkpoint.ipynb
*.tmp

# output
output/**/*.png
*tfevents*
output/
*.pkl

# LATEX output
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.bbl
*.blg
*.tex.bak
*.bak*
*.bcf
*.run.xml

# Data
data/*